# Database connection string
DB_DSN="host=localhost user=root password=changeme dbname=accounts port=9920 sslmode=disable TimeZone=Europe/Paris"

# Listen port
PORT=8080
# Listen address
HOST=0.0.0.0

# Log level (panic, fatal, error, warning, info, debug, trace)
LOG_LEVEL=info